{{template "header" .}}
<h2>{{.DayName}} {{.HourName}}</h2>
<a href="/cameras/{{ $.CameraName }}/{{ $.DayName }}">
	<button>	
		zurück
	</button>
</a>
<ul>
	{{range $index, $clip := .Clips}}
	<li>
		{{ .Time }}
		<div id="vid-{{$index}}">
			{{ if eq .Converted false }}
				<button
					hx-get="/start-convert/{{ $.CameraName }}/{{ $.DayName }}/{{ $.VideoName }}/{{ $.HourName }}/{{$clip.ClipName}}.mp4"
					hx-trigger="click"
					hx-target="#vid-{{$index}}"
					hx-swap="outerHTML">
					Lade Video
				</button>
			{{ else }}
				<video width="100%" controls>
					<source src="/converted/{{ $.CameraName }}/{{ $.DayName }}/{{ $.VideoName }}/{{ $.HourName }}/{{$clip.ClipName}}.mp4" type="video/mp4">
				</video>
			{{ end }}
		</div>
	</li>
	{{end}}
</ul>
